@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
	font-family: "DM Sans", sans-serif;
	margin: 0;
	padding: 0;
}
.none {
	display: none;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: rgba(249, 236, 226, 1);
}
main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: 22px;
}
h1 {
	font-size: 48px;
	font-weight: 700;
	color: rgba(56, 35, 20, 1);
}
#principale {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	gap: 28px;
}
.grid-organize {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 12px;
}
#depense {
	padding: 12px 12px;
	border: none;
	border-radius: 12px;
	font-size: 32px;
	font-weight: 700;
	color: rgba(146, 133, 122, 1);
}
.btn-primary {
	border: none;
	border-radius: 12px;
	background-color: rgb(253, 42, 0);
	color: white;
	font-weight: 800;
	font-size: 15px;
	padding: 12px;
}
.btn-primary:active {
	opacity: 0.6;
}
#liste {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 8px;
	height: 160px;
	scroll-behavior: auto;
}
.listeobject {
	padding: 12px 24px;
	border: 2px solid rgba(236, 117, 93, 1);
	border-radius: 18px;
	color: rgba(236, 117, 93, 1);
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h2 {
	text-align: center;
	color: rgba(146, 133, 122, 1);
}
label {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 16px;
	font-weight: 800;
	color: rgb(253, 42, 0);
}
